/* GENERAL *//* GENERAL *//* GENERAL */
body{
		font-family: 'Bungee' , impact , arial , sans serif;
		background-color: grey;
}
/* HEADER *//* HEADER *//* HEADER */
#header{
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 0px 0px 60px 60px ;
}
#titre{
	display: flex;
	justify-content: center;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 1.6em;
	color: #b71540;
	text-shadow: 4px 4px 2px #e55039;
	text-align: center;
}
/* Menu de Navigation */
#nav {
	font-size: 1em;
	height: 60px;
	background-color: rgba(229, 80, 57,1);
	border-radius: 0px 0px 60px 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#listnav {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
.pucenav{

}
.pucenav a {
	color: #b71540;
	text-decoration: none;
	margin-right: 20px;
}

.pucenav a:hover {
	color: #f6b93b;
	border-top: 2px #fa983a solid;
	border-bottom: 2px #fa983a solid;
}

/*.logo-site{
	float: left;
	height: 300px;
	margin-bottom: 20px;
	width: auto;
}*/

/*BODY*//*BODY*//*BODY*/

/*Article*/
article{
	color: #fa983a;
	margin-left: 20px;
	margin-right: 20px;
	border-top: 2px #e55039 solid;
	border-radius: 20px;
	border-bottom: 2px #e55039 solid;
	margin-top: 10px;
	padding-top: 20px;
}
h2{

	text-align: center;
	text-decoration: underline;
	text-decoration-color: #e55039;
}
#photo{
	float: left;
	height: 20%;
	width: 20%;
	margin-right: 5px;
}
#aboutmeP{
	
}
		/*Contact*/
#contact{
	text-align: center;
}

#logogithub{
	height: 10%;
	width: 10%;
	border: none;
}
#logoinsta{
	height: 15%;
	width: 15%;
	border: none;
}
#h2contact{

}
#logomail{
	height: 10%;
	width: 10%;
	border: none;
}
#logofacebook{
	height: 10%;
	width: 10%;
	border: none;
}
#p_réseaux{
	padding-bottom: 12px;
}
#formulaire{
	display: flex;
	justify-content: center;
	font-size: 0.8em;
	padding-bottom: 20px;
	padding-top: 20px;
}
#textarea{
	height: 50%;
	width: 50%;
}

/*Ressources*/
#ressources{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 15px;
}
.liens_ressources {
	color: #b71540;
	text-decoration: none;
	width: 20%;
}
.liens_ressources:hover{
	color: #f6b93b;
	border-top: 2px #fa983a solid;
	border-bottom: 2px #fa983a solid;
	text-decoration: none;
	width: 20%;
}


/*FOOTER*//*FOOTER*//*FOOTER*/		
#retourhome{
	text-decoration: none;
	font-size: 1.1em;
	color: #b71540;
	width: 140px;
}
#retourhome:hover{
	color: #f6b93b;
	border-top: 2px #fa983a solid;
	border-bottom: 2px #fa983a solid;
}
footer{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
#h3comp{
	text-decoration: underline;
	text-decoration-color: #e55039;
	text-align: center;
	font-size: 1.4em;
}
#comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-top: 30px;
  margin-bottom: 50px; }

.progressbarre {
  color: white;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  height: 30px;
  width: 50%;
  padding: 2px;
  /*width: 100%;*/
  margin: 20px 0; }

.progressbarre span {
  text-align: center;
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  transition: width .4s ease-in-out; }

.blue span {
  background-color: #34c2e3; }

.rouge span {
  background-color: #FF1610; }

.orange span {
  background-color: orange; }

.jaune span {
  background-color: #fecf23;
  background-image: linear-gradient(top, #fecf23, #fd9215); }

.vert span {
  background-color: #a5df41;
  background-image: linear-gradient(top, #a5df41, #4ca916); }

.blert span {
  background-color: #0AACA6; }

.menthe span {
  background-color: #16B84E; }

.sarcelle span {
  background-color: #008E8E; }

.beurre span {
  background-color: #F0E36B; }

.stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  animation: animate-stripes 5s linear infinite; }

@keyframes animate-stripes {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 60px 0; } }